annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
distro
executing
fastjsonschema
fixedpoint
fonttools
fqdn
griffe
h11
httpcore
httpx
httpx-sse
idna
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
jedi
Jinja2
jiter
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
lark
markdown2
MarkupSafe
matplotlib
matplotlib-inline
mcp
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
openai
openai-agents
packaging
pandas
pandocfilters
parso
pdoc
pillow
platformdirs
prometheus_client
prompt_toolkit
psutil
pure_eval
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
pyparsing
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytz
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rpds-py
Send2Trash
setuptools
six
sniffio
soupsieve
sse-starlette
stack-data
starlette
terminado
tinycss2
tornado
tqdm
traitlets
types-requests
typing-inspection
typing_extensions
tzdata
uri-template
urllib3
uvicorn
vcdvcd
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
